@import url('https://fonts.googleapis.com/css?family=Poppins'); 
*{
  /* margin:auto; */
  font:20px italic, cursive;
  /* background-image: url(tree.jpg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh; */
  background-size: cover;
  color: rgb(1, 1, 1);
}
.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon{
  width: 400px;
  float: left;
  height: 50px;
}
.logo{
  font-size: 30px;
  font-family: cursive;
  padding-left: 5px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}
.menu{
  width: 800px;
  float: right;
  height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 90px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a{
  text-decoration: none;
  color: #ff0404;
  font-weight: bold;
}
.navbar a{
  text-decoration: none;
}
.navbar a:hover{
  background: rgb(249, 248, 248);
  color: rgb(26, 1, 255);
}

/* Container for login page */
.login-container {
  justify-content: center;
  display:flex;
  height: 100vh;
  background-color: #f7f3ee; /* Light cream background */
}
/* Left-side form container */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  background-color: #fff;
}
.login-form h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}
.login-form p {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #555;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
  color: #333;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-options a {
  color: #777;
  text-decoration: none;
  font-size: 0.9em;
}
.form-options a:hover {
  text-decoration: underline;
}
.btn-signin {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1em;
}
.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
  color: #333;
}
.signup-text {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
.signup-text a {
  color: #000;
  text-decoration: none;
}
.signup-text a:hover {
  text-decoration: underline;
}
/* Right-side image section */

body{
  padding: 50px;
  justify-content: center;
}
.formid
{
  background-color:peachpuff;
  border-radius: 10px;
  padding:50px;
}