@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*{
    margin :10px;
    font-family: "Quicksand";
    color:rgb(0, 0, 0) 
}
.navbar{
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 65%);
    padding: 20px;
    display: flex;
    /* align-items:center; */
    /* margin: 10px; */
    /* border-width: 100px; */
    /* border-bottom: 1px,solid #e90d0d; */
}
.navbar h1{
    color: black;
    background: rgb(34,193,195);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 16%, rgba(131,58,180,1) 24%, rgba(253,29,29,1) 63%, rgba(252,176,69,1) 86%);
    
}
.navbar.links
{
    margin-right: auto;
}
.navbar a{
/* text-align: right; */
margin-left: 20px;
text-decoration:none;
padding: 6px;
}
.navbar a:hover{
    background: rgb(118,212,211);
    background: radial-gradient(circle, rgba(118,212,211,1) 17%, rgba(21,117,142,1) 75%);
}
.content{
    /* max-width: 900px; */
    /* margin:80px, auto; */
    padding:20px;
    align-items: justify;
}
.blog-preview{
    padding:10px 16px;
    margin:20px 0;
    border-bottom: #e90d0d;
}
.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,5);
}

.blog-preview h2{
    font-size: 25px;
    color:black;
    margin-bottom: 8px;
}
body{
    background: rgb(173,173,165);
    background: radial-gradient(circle, rgba(173,173,165,1) 17%, rgba(21,142,69,1) 75%);
    padding: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /* overflow:hidden; */
    background-attachment: fixed;
}
.Home{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding: 20px;
    border-radius: 8px;
}
button{
    background-color: bisque;
    box-shadow: 1px 3px 5px rgba(0,0,0,2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin:10px;
}
button:hover{
    color:rgb(255, 247, 3);
}
h1{
    color: rgb(255, 255, 255);
}
.content{
    color:rgb(0, 25, 250);
}
.title1{
    color:rgb(128, 0, 90);
}
.table1
{
    text-align: center;
    justify-content: center;
    color:indigo;
}
.card{
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
background-color: rgb(15, 118, 56);
}
.container
{
    background-image:linear-gradient(to right,rgb(255,200,185),rgb(58,208,111));
}
.blbutton{background: rgb(8,226,117);
    background: linear-gradient(27deg, rgba(8,226,117,1) 25%, rgba(81,81,105,1) 75%);
}